.button {
  display: flex;
  outline: none;
  border-radius: 0.75em; /* 20px / 16 */
  padding: 0.625em 1.25em; /* 10px 20px / 16 */
  background-color: var(
    --gm3-button-filled-container-color,
    var(--gm3-sys-color-primary, #3e80e9)
  );
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9375em; /* 15px / 16 */
  margin: 0 auto;
  margin-top: 3.125em; /* 50px / 16 */
  /* margin-bottom: 1.25em; /* 20px / 16 */
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.button:hover {
  background-color: var(
    --gm3-button-filled-container-hover-color,
    var(--gm3-sys-color-primary-dark, rgb(92, 170, 252))
  );
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.6); /* 4px 12px / 16 */
}

.comp {
  /*style for each individual resource*/
  background-image: linear-gradient(to right, #eaf1ef, #ddeee8);
  max-width: 12.625em; /* 250px / 16 */
  margin: 0.625em auto; /* 10px / 16 */
  padding: 1em; /* 20px / 16 */
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2); /* 4px 8px / 16 */
  border-radius: 0.625em; /* 10px / 16 */
  font-family: "Inter", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.25em; /* 20px / 16 */
}
.comp:hover {
  box-shadow: 0.75em 0.75em 0.75em rgba(0, 0, 0, 0.3),
    /* 12px 12px / 16 */ -0.4375em -0.4375em 0.4375em rgb(221, 217, 217); /* 7px 7px / 16 */
}

.container {
  background-image: url("https://mrwallpaper.com/images/hd/big-beautiful-full-moon-and-field-j8d8rg9mjzar1lpo.jpg");
  /* box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2); */
  border-radius: 0.625em; /* 10px / 16 */
  font-family: "Inter", sans-serif;
  text-align: center;
}
.className {
  font-size: 1.875em; /* 30px / 16 */
  color: white;
  font-weight: bold;
  display: inline-block;
  /* margin-top: 0.9375em; 15px / 16 */
  text-align: center;
  width: 20%;
  background-color: rgba(45, 45, 45, 0.848);
}
.number {
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2); /* 4px 8px / 16 */
  font-size: 0.625em; /* 10px / 16 */
  border-radius: 6.25em; /* 100px / 16 */
}
.image {
  display: block;
  width: 12.5em; /* 200px / 16 */
  height: 12.5em; /* 200px / 16 */
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
  background-color: white;
}
.imageContainer {
  text-align: center;
  padding-top: 1.5em;
}
.space {
  padding: 1em;
}
