.button {
  display: flex;
  outline: none;
  border-radius: 0.75em; /* 20px / 16 */
  padding: 0.625em 1.25em; /* 10px 20px / 16 */
  background-color: var(
    --gm3-button-filled-container-color,
    var(--gm3-sys-color-primary, #92bcff)
  );
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9375em; /* 15px / 16 */
  margin: 0 auto;
  margin-top: 3.125em; /* 50px / 16 */
  position: relative;
  z-index: 0;
  /* margin-bottom: 1.25em; /* 20px / 16 */
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.button::after {
  content: "";
  background: linear-gradient(to right, black, rgb(0, 0, 0));
  height: 100%;
  width: 0px;
  border-radius: 0.5em;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 150ms ease-in-out;
}
.button:hover {
  color: white;
}
.button:hover::after {
  /* background-color: var(
    --gm3-button-filled-container-hover-color,
    var(--gm3-sys-color-primary-dark, rgb(92, 170, 252))
  ); */
  width: 100%;
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.6); /* 4px 12px / 16 */
}

.comp {
  background-color: rgb(37, 37, 37);
  max-width: 12.625em; /* 250px / 16 */
  margin: 0.625em auto; /* 10px / 16 */
  padding: 1em; /* 20px / 16 */
  box-shadow: 0 0.1em 0.1em rgba(171, 171, 171, 0.621); /* 4px 8px / 16 */
  border-radius: 0.625em; /* 10px / 16 */
  font-family: "Inter", sans-serif;
  color: rgb(
    255,
    255,
    255
  ); /* Updated to make the text visible on dark background */
  font-weight: bold;
  font-size: 1.25em; /* 20px / 16 */
  text-decoration: none; /* Ensures no underline is present */
  display: block; /* Ensures it behaves like a block element */
  cursor: pointer; /* Makes it clear the element is clickable */
  transition: transform 0.2s; /* Smooth animation when hovered */
}

.comp:hover {
  transform: scale(1.07); /* Optional: Slight scale effect on hover */
  text-decoration: underline;
  text-decoration-color: white;
}

.container {
  background-image: url("https://mrwallpaper.com/images/hd/big-beautiful-full-moon-and-field-j8d8rg9mjzar1lpo.jpg");
  /* box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2); */
  border-radius: 0.625em; /* 10px / 16 */
  font-family: "Inter", sans-serif;
  text-align: center;
}
.className {
  font-size: 1.875em; /* 30px / 16 */
  color: black;
  font-weight: bold;
  display: inline-block;
  /* margin-top: 0.9375em; 15px / 16 */
  text-align: center;
  text-shadow: 0 0 2em #fff, 0 0 2em #fff, 0 0 2em #fff, 0 0 2em #fff,
    0 0 0.5em #fff, 0 0 1em #fff, 0 0 0.5em #fff;
}
.space {
  padding: 1em;
}

@media (max-width: 600px) {
  .button {
    padding: 0.5em 0.8375em; /* 8px 15px / 16 */
    font-size: 3.5vw; /* Adjust font size for mobile devices */
  }
  .comp {
    background-color: rgb(37, 37, 37);
    max-width: 11em; /* 250px / 16 */
    margin: 0.525em auto; /* 10px / 16 */
    padding: 1em; /* 20px / 16 */
    box-shadow: 0 0.1em 0.1em rgba(171, 171, 171, 0.621); /* 4px 8px / 16 */
    border-radius: 0.625em; /* 10px / 16 */
    font-family: "Inter", sans-serif;
    font-size: 1em; /* 20px / 16 */
  }

  .comp:hover {
    transform: scale(1.07); /* Optional: Slight scale effect on hover */
    text-decoration: underline;
    text-decoration-color: white;
  }

  .container {
    background-image: url("https://mrwallpaper.com/images/hd/big-beautiful-full-moon-and-field-j8d8rg9mjzar1lpo.jpg");
    /* box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2); */
    border-radius: 0.625em; /* 10px / 16 */
    font-family: "Inter", sans-serif;
    text-align: center;
  }
  .className {
    font-size: 1.5em; /* 30px / 16 */
    text-shadow: 0 0 2em #fff, 0 0 2em #fff, 0 0 2em #fff, 0 0 2em #fff,
      0 0 0.5em #fff, 0 0 1em #fff, 0 0 0.5em #fff;
  }
  .space {
    padding: 0.7em;
  }
}
