.button {
  display: flex;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(
    --gm3-button-filled-container-color,
    var(--gm3-sys-color-primary, #0b57d0)
  );
  color: white;

  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .button {
    padding: 8px 15px; /* Adjust padding for mobile devices */
    font-size: 2.5vw; /* Adjust font size for mobile devices */
    width: 100%; /* Make button full width on mobile devices */
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
}
