.button {
  display: flex;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(
    --gm3-button-filled-container-color,
    var(--gm3-sys-color-primary, #0b57d0)
  );
  color: white;

  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
