.button {
  display: flex;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(90, 239, 165);
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}
