/* src/MissionStatement.module.css */
.missionStatement {
  max-width: 800px;
  margin: 2em auto;
  padding: 2em;
  background: rgb(213, 213, 213);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
  margin-top: 115px;
  margin-bottom: 115px;
}

.heading {
  margin-top: 0;
  font-size: 40px;
}

.paragraph {
  line-height: 1.6;
  font-size: 25px;
}
