.missionStatement {
  position: relative; /* Ensure positioning context for the pseudo-element */
  max-width: 50em; /* 800px / 16 */
  margin: 2em auto;
  padding: 2em;
  background: rgb(0, 0, 0);
  border-radius: 0.625em; /* 10px / 16 */
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5); /* 10px / 16 */
  font-family: Calibri, sans-serif;
  margin-top: 7.1875em; /* 115px / 16 */
  margin-bottom: 7.1875em; /* 115px / 16 */
  color: white;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.missionStatement::after,
.missionStatement::before {
  content: "";
  position: absolute;
  top: -0.3125em; /* 5px / 16 */
  left: -0.3125em; /* 5px / 16 */
  right: -0.3125em; /* 5px / 16 */
  bottom: -0.3125em; /* 5px / 16 */
  border-radius: 0.8125em; /* 13px / 16 */
  z-index: -1; /* Ensure the border appears behind the .missionStatement */
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    rgb(162, 69, 118)
  );
  animation: 3s spin linear infinite;
}
.missionStatement::before {
  filter: blur(1.5em); /* 24px / 16 */
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.heading {
  margin-top: 0;
  font-size: 2.5em; /* 40px / 16 */
}

.paragraph {
  line-height: 1.6;
  font-size: 1.5625em; /* 25px / 16 */
}
