/* src/NavBar.module.css */
.nav {
  background-color: #333;
  padding: 1em;
  font-size: clamp(0.75em, 1.25em, 2em);
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
}

.listItem {
  display: inline;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
