/* src/NavBar.module.css */
.nav {
  background-color: rgb(239, 195, 245);
  padding: 1em;
  font-size: clamp(0.75em, 1.25em, 2em);
  display: flex;
  /* justify-content: center;  */
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
}

.listItem {
  display: inline;
}

.link {
  color: rgb(15, 16, 32);
  text-decoration: none;
  padding: 0.25em;
  background: linear-gradient(to right, black 0%, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-position: 0 0; /* Move the background to create the left-to-right effect */
  color: white; /* Change the text color to white on hover */
  padding: 0.75em;
}

@media (max-width: 600px) {
  .nav {
    font-size: 1em;
  }
  .link {
    padding: 0.5em;
    width: 100%;
  }
}
