.image {
  display: block; /* Flex might not be necessary unless you're in a flex container */
  width: 100%; /* Adjust width as needed */
  height: 200px; /* Maintain aspect ratio */
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: cover;
}
.container {
  background-image: linear-gradient(to right, #f6f6f7, #fead7e);
  max-width: 250px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: Polysans, sans-serif;
}
