.header {
  font-size: 1.275em; /* 30px */
  /* background-color: rgb(239, 195, 245); */
  background-color: rgb(15, 16, 32);
  background-size: cover;
  padding: 2.1875em; /* 35px */
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.75em; /* 20px */
  flex: 1;
}

.title {
  background: linear-gradient(to left, rgb(239, 195, 245), rgba(115, 83, 186));
  background-clip: text;
  color: transparent;
  font-size: 2.5em; /* 50px */
}

.missionStatement,
.contact {
  padding: 0.425em; /* 10px */
  border: none;
  cursor: pointer;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3); /* 0 4px 8px */
  border-radius: 6.25em; /* 100px */
  font-size: 1.25em; /* 20px */
  font-weight: bold;
}

.icon {
  height: 4.625em; /* 90px */
  width: 4.625em; /* 90px */
  border-radius: 1.25em; /* 20px */
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5em; /* Adjusted padding for mobile */
  }

  .titleContainer {
    gap: 0.5em; /* Adjusted gap for mobile */
  }

  .title {
    font-size: 1.875em; /* 30px, smaller font size for mobile */
    text-align: center;
    width: 100%; /* Ensure the title takes the full width on mobile */
  }

  .missionStatement,
  .contact {
    padding: 0.625em; /* Adjusted padding for mobile */
    font-size: 1em; /* Adjusted font size for mobile */
    width: 100%; /* Ensure buttons take full width on mobile */
    margin-bottom: 0.5em; /* Add space between buttons on mobile */
  }

  .icon {
    height: 3.125em; /* 50px, smaller icon size for mobile */
    width: 3.125em; /* 50px, smaller icon size for mobile */
  }
}
