.header {
  font-size: 50px;
  /* background-image: linear-gradient(to right, #b9f3d5, #49f846); */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcpAka8XVHMJpU7o3gwu02ekQv8btBesfYTZ6wbmBbe0z75Okp");
  background-size: cover;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  border-radius: 100px;
  font-family: cursive;
  text-align: center;
  font-weight: bold;
  color: black;
  background-repeat: no-repeat;
}
